.bg-color {
    background-color: #c6b9cd;
} 

/***** NAVBAR *****/

.navbar {
    background-color: #1D3557;
    border-radius: 0;
    padding: 0.5rem 1rem;
}

/* Navbar title */
.navbar-brand {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 2rem;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ebd122;
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
    padding: 10px;
}

/* Navbar collapsed styles */
.navbar-toggler {
    color: #fff;
    border-color: #fff;
    background-color: #1D3557;
    border-radius: 4px;
    border: 1px solid;
    fill: #fff;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: #ebd122;
    color: #242424;
    fill: #242424;
    border-color: #fff;

}

/*** JUMBOTRON ***/

.jumbotron {
    /***background-color: #47a181;***/
    text-align: center;
    color: #ffffff;
    padding: 3%;
    border-radius: 0px;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}
.jumbotron h2 {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
}

.img-responsive{
    width:100%;
}

/*** CARD ***/

.card {
    background-color: #fff;
    border-color: #cccccc;
    border-width: 1px;
    padding:25px 0;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    object-fit: cover;
    height: 250px;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-body .btn {
    margin-top: auto;
    background-color: #1D3557;
}

.card:hover {
    border-color: #47a181;
}

.container{
    padding:25px 0;
    max-width: 1200px;
    margin: 0 auto;
}

/*** Basic Text Styles ***/

#about-world {
    max-width: 100%;
}

.resume h3 {
    font-weight: bold;
}

/*** FOOTER ***/

footer {
    background-color: #1D3557;
    padding: .2%;
    padding-right: 1%;
    text-align: right;
    min-height: 2vh;
    vertical-align: middle;
}

footer span {
    font-size: 14px;
    text-decoration: none;
}

.footer-text {
    color: #ffffff;
}

.footer-text:hover {
    color: #F1FAEE;
}

/***PORTFOLIO***/

.portfolio-image img {
    display: block;
    max-width: 95%;        
    margin: 0.5rem auto;   
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    box-sizing: border-box;
    height: auto;
}

hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 20px;
}

a {
    color: #863ee3;
}

a:hover {
    color: #ebd122;
}

.container{
    padding:25px 0;
}

body {

    font-family: 'Georgia', serif;
    background-color: #f7f1fa;
    color: #242424;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}

iframe{
    height:600px;
}

h1 {
    color:darkslateblue;
    font-size:50px;
}

h3 {
    font-family:'Trebuchet MS';
}
.image {
    scale: .75;
}
.author {
    font-size: 20px;
}
